body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .root{
      width: 10%;
  }
  
  .move-history{
    width: 34%;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 33%;
  }
  
  .square:focus {
    outline: none;
  }
  

  
 
  